
*.vcxproj
*.filters
*.json
*.log
*.pdb
*.lastbuildstate
*.tlog
*.obj
*.sln
*.cmake
build/CMakeCache.txt
*.rule
*.bin
*.c
*.exe
build/CMakeFiles/3.12.18081601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.12.18081601-MSVC_2/VCTargetsPath.txt
*.check_cache
*.cxx
*.stamp
*.depend
*.list
build/CMakeFiles/TargetDirectories.txt
*.lib
*.ilk
*.pc
build
